<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cards.css">
    <title>Cards Index Page</title>
</head>

<body>
    <header>
        <h1> All Cards</h1>
        <nav>
            <a href="/">Go Back to Homepage</a>  
            <a href="/cards/new">Add New Card</a>
        </nav>
    </header>

    <main>
        <ul>
            <% cards.forEach(card => { %>
                <li>
                    <a href="/cards/<%= card._id %>"><%= card.name %></a>
                    <a href="/cards/<%= card._id %>/edit">Edit</a>
                    <form action="/cards/<%= card._id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit">Delete</button>
                        <% cards.forEach(card => { %>
                            <div>
                              <h2><%= card.name %></h2>
                              <form method="POST" action="/decks/<%= deckId %>/cards"> 
                                <input type="hidden" name="cardId" value="<%= card._id %>">
                                <button type="submit">Add to Deck</button>
                              </form>
                            </div>
                          <% }) %>
                    </form>
                </li>
            <% }); %>
        </ul>
    </main>
</body>
</html>
