<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Page</title>
</head>
<body>
  <h1>Card Page</h1>
  <h2>Name: <%=card.name %></h2>
  <% if (card.ReadyForBattle) { %>
  <p>This card is playable!</p>
  <% } else { %>
  <p>This card is not playable at this time!</p>
  <% } %>
  <ul>
    <li><strong>Level:</strong> <%= card.level %></li>
    <li><strong>Type:</strong> <%= card.type %></li>
    <li><strong>Attack:</strong> <%= card.attack %></li>
    <li><strong>Defense:</strong> <%= card.defense %></li>
    <li><strong>Ready for Battle:</strong> <%= card.readyForBattle ? 'Yes' : 'No' %></li>
</ul>
  <form method="POST" action="/cards/<%= card._id %>?_method=DELETE">
    <button type="submit">Delete Card</button>
  </form>
  <section>
    <a href="/cards/<%= card._id %>/edit">
   <button type="submit">Edit Card</button></a>
  </form>
  </section>
  <section>
    <a href="/cards/home"><button>Return to Homepage</button></a>
  </section>
 </body>
</html>
</body>
</html>