<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/deck.css"> 
    <title><%= deck.name %></title>
</head>
<body>
    <h1><%= deck.name %></h1>
    <p> Deck Type: <%= deck.deckType %></p>

    <h2> Cards in your Deck:</h2>
    <ul>
        <% if (deck.cards.length > 0) { %>
            <% deck.cards.forEach(function(card){ %>
                <li>
                    <strong><%= card.name %></strong>: <%= card.description %>
                </li>
           <% }) %>
           <% } else {%>
                <li> No Cards in this Deck sucka</li>
          <% } %>
    </ul>
    <form action="/decks/<%= deck._id %>/cards" method="POST">
        <label for="cardId">Select Card to Add:</label>
        <select name="cardId" id="cardId" required>
          <% cards.forEach(card => { %>
            <option value="<%= card._id %>"><%= card.name %></option>
          <% }) %>
        </select>
        <button type="submit">Add Existing Card to Deck</button>
      </form>
      
    <a href="/decks/index">Back to Decks</a>
    <a href="/cards/home">Back to Homepage</a>
    <a href="/decks/<%= deck._id %>/cards/new">Add a Card</a>
</body>
</html>
